@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/Proxima_Nova_Condensed_Regular.woff") format("woff"), url("../fonts/Proxima_Nova_Condensed_Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/Proxima_Nova_Condensed_Thin.woff") format("woff"), url("../fonts/Proxima_Nova_Condensed_Thin.otf") format("opentype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima_Nova_Light.woff") format("woff"), url("../fonts/Proxima_Nova_Light.otf") format("opentype");
  font-style: normal;
  font-weight: lighter;
}
.flex-vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-horizontal-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pseudo-content {
  content: "";
  position: absolute;
}
.container {
  padding-right: 6px;
  padding-left: 6px;
  margin-right: auto;
  margin-left: auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
.range {
  margin-left: -6px;
  margin-right: -6px;
}
.range:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}
.gallery__nav {
  position: relative;
}
.gallery__item {
  position: relative;
  margin: 0 1px;
  opacity: 0.5;
}
.gallery_number-photo {
  display: none;
}
.slick-current {
  opacity: 1;
}
.slick-current:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 9px #ffeb3b;
  box-shadow: inset 0 0 0 9px #ffeb3b;
}
.slick-current .gallery_number-photo {
  display: block;
  position: absolute;
  font-size: 90px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ffff00;
  z-index: 2;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('img/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 30px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev {
  left: 5px;
  background: no-repeat url(../img/arrow-prev.svg);
}
.slick-prev:hover {
  background: no-repeat url(../img/arrow-prev-active.svg);
}
.slick-next {
  right: 5px;
  background: no-repeat url(../img/arrow-next.svg);
}
.slick-next:hover {
  background: no-repeat url(../img/arrow-next-active.svg);
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Proxima Nova", Arial, sans-serif;
  letter-spacing: 2px;
  color: #051945;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
@media (min-width: container-phone-max) {
  body {
    overflow-x: hidden;
  }
}
input,
button,
select,
textarea {
  outline: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 1300px) {
  .left-on-wide-screen {
    padding-right: 15vw;
  }
}
@media screen and (min-width: 960px) {
  .col-1 {
    width: 6.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-1 {
    margin-left: 6.25%;
  }
  .col-2 {
    width: 12.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-2 {
    margin-left: 12.5%;
  }
  .col-3 {
    width: 18.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-3 {
    margin-left: 18.75%;
  }
  .col-4 {
    width: 25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-4 {
    margin-left: 25%;
  }
  .col-5 {
    width: 31.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-5 {
    margin-left: 31.25%;
  }
  .col-6 {
    width: 37.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-6 {
    margin-left: 37.5%;
  }
  .col-7 {
    width: 43.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-7 {
    margin-left: 43.75%;
  }
  .col-8 {
    width: 50%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-8 {
    margin-left: 50%;
  }
  .col-9 {
    width: 56.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-9 {
    margin-left: 56.25%;
  }
  .col-10 {
    width: 62.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-10 {
    margin-left: 62.5%;
  }
  .col-11 {
    width: 68.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-11 {
    margin-left: 68.75%;
  }
  .col-12 {
    width: 75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-12 {
    margin-left: 75%;
  }
  .col-13 {
    width: 81.25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-13 {
    margin-left: 81.25%;
  }
  .col-14 {
    width: 87.5%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-14 {
    margin-left: 87.5%;
  }
  .col-15 {
    width: 93.75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-15 {
    margin-left: 93.75%;
  }
  .col-16 {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-16 {
    margin-left: 100%;
  }
  .container {
    min-width: 960px;
    max-width: 1366px;
  }
  .phone-only {
    display: none;
  }
  .order__title {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 58px;
    font-size: 41px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }
  .order__subtitle {
    padding-top: 32px;
    padding-bottom: 22px;
    font-size: 12px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
  }
  .order__tabs {
    margin-left: -6px;
    margin-right: -6px;
  }
  .order__tabs:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .order__tabs input {
    display: none;
  }
  .order__molding,
  .order__printsize {
    text-align: center;
    font-size: 0;
  }
  .order__molding-item {
    display: inline-block;
    margin: 0 5px;
    width: 357px;
  }
  .order__printsize-item {
    display: inline-block;
    margin-right: 1px;
    width: 232px;
  }
  .order__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    min-height: 104px;
    border: 1px solid #cfd8dc;
    margin-bottom: 1px;
  }
  input:checked + .order__tab {
    border: 1px solid #ffeb3b;
    color: #134ece;
  }
  input:disabled + .order__tab {
    color: #d8dfe2;
  }
  .order__tab-header {
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .order__tab-header--print {
    font-size: 27px;
  }
  .order__tab-text {
    font-size: 14px;
  }
  .order__signature {
    position: relative;
    display: block;
    width: 690px;
    margin: 0 auto;
    min-height: 72px;
    padding-top: 22px;
    padding-left: 60px;
    font-size: 30px;
    letter-spacing: 4px;
    vertical-align: center;
  }
  .order__signature:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    width: 43px;
    height: 43px;
    border: 1px solid #ffeb3b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
  }
  input:checked + .order__signature:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 47px;
    height: 51px;
    background: url(../img/signa.svg) no-repeat;
    z-index: 2;
  }
  .delivery {
    border-top: 1px solid #ffffff;
    background-color: #d1eaff;
    text-align: center;
  }
  .delivery__title {
    margin: 0;
    padding: 23px;
    padding-bottom: 0;
    font-size: 30px;
    font-weight: normal;
    color: #304ffe;
    letter-spacing: 4px;
  }
  .delivery__subtitle {
    padding: 12px 15px 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 3px;
  }
  .delivery__client-contacts {
    padding: 0 30px;
    text-align: center;
    font-size: 0;
  }
  .delivery__client {
    display: inline-block;
    width: 324px;
    min-height: 60px;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    border: none;
    margin: 0 2px 25px;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .delivery__order {
    text-align: center;
    vertical-align: top;
    padding: 0 15px 17px;
    font-size: 0;
  }
  .delivery__prace {
    display: inline-block;
    width: 400px;
    text-align: left;
    font-size: 14px;
  }
  .delivery__price-title {
    font-size: 30px;
    text-transform: uppercase;
  }
  .delivery__price-value {
    font-size: 65px;
    padding-top: 13px;
    letter-spacing: 4px;
    color: #304ffe;
    letter-spacing: 6px;
  }
  .delivery__price-free {
    font-size: 14px;
    color: #fa645a;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }
  .delivery__btn-block {
    display: inline-block;
    position: relative;
    width: 255px;
    vertical-align: top;
    padding: 10px 10px 30px;
    font-size: 14px;
  }
  .delivery__btn-order {
    width: 100%;
    min-width: 242px;
    height: 100%;
    min-height: 130px;
    border: none;
    padding: 18px 0 10px;
    background-color: #ffea00;
    border-bottom: 5px solid #fbc02d;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #304ffe;
  }
  .delivery__btn-subtext {
    position: absolute;
    left: -50%;
    right: -50%;
    bottom: 0px;
    min-width: 355px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .target .delivery__title--main {
    display: none;
  }
  .delivery__title--target {
    display: none;
  }
  .target .delivery__title--target {
    display: block;
  }
  .delivery__price-old {
    display: none;
  }
  .target .delivery__price-old {
    display: block;
    font-size: 35px;
    color: #bdbdbd;
  }
  .delivery__price-value--target {
    display: none;
  }
  .target .delivery__price-value--main {
    display: none;
  }
  .target .delivery__price-value--target {
    display: block;
    font-size: 65px;
    padding-top: 0;
  }
  .target .delivery__price-free {
    display: none;
  }
  .target .delivery__btn-subtext {
    display: none;
  }
  .target .delivery__btn-block {
    padding-bottom: 0;
  }
  .delivery__title--seo {
    display: none;
  }
  .seo .delivery__title--seo {
    display: block;
  }
  .seo .delivery__title--main {
    display: none;
  }
  .delivery__btn-order--main {
    display: block;
  }
  .seo .delivery__btn-order--main {
    display: none;
  }
  .delivery__btn-order--seo {
    display: none;
  }
  .seo .delivery__btn-order--seo {
    display: block;
  }
  .footer {
    background-color: #001f34;
    color: #d1eaff;
    text-transform: uppercase;
    text-align: center;
    padding: 35px 0 35px;
  }
  .footer__textline {
    font-size: 27px;
    letter-spacing: 3px;
    margin: 0 auto;
  }
  .footer__time {
    font-size: 67px;
    padding-top: 12px;
    letter-spacing: 6px;
    max-width: 890px;
    margin: 0 auto;
  }
  .footer__time:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer__time-clock {
    letter-spacing: 6px;
    width: 470px;
    float: left;
    text-align: left;
  }
  .footer__time-hurry {
    width: 405px;
    float: right;
    text-align: right;
    position: relative;
  }
  .footer__time-hurry:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 40px;
    top: 16px;
    left: -20px;
    background-color: #ffeb3b;
  }
  .footer__time-hurry:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 16px;
    left: -1px;
    border: 20px solid transparent;
    border-left: 20px solid #ffeb3b;
  }
  .footer--target {
    display: none;
  }
  .target .footer--main {
    display: none;
  }
  .target .footer--target {
    display: block;
  }
  .target .footer__togever {
    font-size: 67px;
    letter-spacing: 6px;
  }
}
@media screen and (max-width: 959px) {
  .col-1 {
    width: 8.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-3 {
    width: 25%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-3 {
    margin-left: 25%;
  }
  .col-4 {
    width: 33.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-6 {
    width: 50%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
  .col-7 {
    width: 58.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-9 {
    width: 75%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-10 {
    width: 83.33333333%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-12 {
    width: 100%;
    padding: 0 6px;
    float: left;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .container {
    min-width: 320px;
    max-width: 640px;
  }
  .desktop-only {
    display: none;
  }
  .header__topline {
    min-height: 49px;
    background-color: #051945;
  }
  .header__nav {
    font-size: 0;
  }
  .header__nav-item {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header__title-block {
    margin-top: 12px;
  }
  .header__title-wraper {
    min-height: 178px;
    background-color: #304ffe;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  .order__title {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 58px;
    font-size: 41px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }
  .order__subtitle {
    padding-top: 32px;
    padding-bottom: 34px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  .order__tabs {
    margin-left: -6px;
    margin-right: -6px;
  }
  .order__tabs:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .order__tabs input {
    display: none;
  }
  .order__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    min-height: 133px;
    border: 1px solid #cfd8dc;
    margin-bottom: 13px;
  }
  input:checked + .order__tab {
    background-color: #d1eaff;
    border: 1px solid #ffeb3b;
    color: #304ffe;
  }
  input:disabled + .order__tab {
    color: #d8dfe2;
  }
  .order__tab-header {
    font-size: 25px;
    text-transform: uppercase;
  }
  .order__tab-header--print {
    font-size: 35px;
  }
  .order__tab-text {
    font-size: 20px;
  }
  .order__signature {
    position: relative;
    display: block;
    min-height: 85px;
    padding: 20px;
    padding-left: 85px;
    font-size: 30px;
    letter-spacing: 3.2px;
    vertical-align: center;
  }
  .order__signature:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    width: 43px;
    height: 43px;
    border: 1px solid #ffeb3b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 1;
  }
  input:checked + .order__signature:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 47px;
    height: 51px;
    background: url(../img/signa.svg) no-repeat;
    z-index: 2;
  }
  .delivery {
    border-top: 1px solid #ffffff;
    background-color: #d1eaff;
    text-align: center;
  }
  .delivery__title {
    margin: 0;
    padding: 23px;
    padding-bottom: 0;
    font-size: 30px;
    font-weight: normal;
    color: #304ffe;
    letter-spacing: 4px;
  }
  .delivery__subtitle {
    padding: 15px 15px 22px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
  }
  .delivery__client-contacts {
    padding: 0 30px;
  }
  .delivery__client {
    display: block;
    width: 100%;
    min-height: 70px;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    border: none;
    margin-bottom: 25px;
    font-size: 30px;
    text-transform: uppercase;
  }
  .delivery__order {
    padding: 0 15px 17px;
  }
  .delivery__order:after {
    content: "";
    display: table;
    clear: both;
  }
  .delivery__prace {
    max-width: 265px;
    float: left;
    text-align: left;
  }
  .delivery__btn-block {
    width: 320px;
    text-align: right;
    float: right;
  }
  .delivery__price-title {
    font-size: 30px;
    text-transform: uppercase;
  }
  .delivery__price-value {
    font-size: 65px;
    padding-top: 13px;
    letter-spacing: 4px;
    color: #304ffe;
  }
  .delivery__price-free {
    font-size: 14px;
    color: #fa645a;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }
  .delivery__btn-order {
    width: 311px;
    height: 134px;
    border: none;
    padding-top: 8px;
    background-color: #ffea00;
    border-bottom: 8px solid #fbc02d;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #304ffe;
  }
  .target .delivery__title--main {
    display: none;
  }
  .delivery__title--target {
    display: none;
  }
  .target .delivery__title--target {
    display: block;
  }
  .delivery__price-old {
    display: none;
  }
  .target .delivery__price-old {
    display: block;
    font-size: 35px;
    color: #bdbdbd;
    text-decoration: line-through;
  }
  .delivery__price-value--target {
    display: none;
  }
  .target .delivery__price-value--main {
    display: none;
  }
  .target .delivery__price-value--target {
    display: block;
    font-size: 65px;
    padding-top: 0;
  }
  .target .delivery__price-free {
    display: none;
  }
  .target .delivery__btn-subtext {
    display: none;
  }
  .target .delivery__btn-block {
    padding-bottom: 0;
  }
  .delivery__title--seo {
    display: none;
  }
  .seo .delivery__title--seo {
    display: block;
  }
  .seo .delivery__title--main {
    display: none;
  }
  .delivery__btn-order--main {
    display: block;
  }
  .seo .delivery__btn-order--main {
    display: none;
  }
  .delivery__btn-order--seo {
    display: none;
  }
  .seo .delivery__btn-order--seo {
    display: block;
  }
  .footer {
    background-color: #001f34;
    color: #d1eaff;
    text-transform: uppercase;
    text-align: center;
    padding: 38px 0 35px;
  }
  .footer__textline {
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  .footer__time {
    font-size: 47px;
    padding-top: 7px;
    letter-spacing: 6px;
  }
  .footer__time * {
    padding-top: 2px;
  }
  .footer__time-clock {
    letter-spacing: 3px;
  }
  .footer--target {
    display: none;
  }
  .target .footer--main {
    display: none;
  }
  .target .footer--target {
    display: block;
  }
  .target .footer__togever {
    font-size: 47px;
    letter-spacing: 6px;
  }
}
@media screen and (max-width: 959px) and (min-width: 400px) {
  .order__molding,
  .order__printsize {
    margin-left: -6px;
    margin-right: -6px;
  }
  .order__molding:after,
  .order__printsize:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .order__molding-item {
    width: 50%;
    padding: 0 6px;
    float: left;
    padding-right: 0;
  }
  .order__printsize-item {
    width: 33.33333333%;
    padding: 0 6px;
    float: left;
    padding-right: 0;
  }
}
