
.delivery {
  border-top: 1px solid #ffffff;
  background-color: @c-light-blue;
  text-align: center;
}

.delivery__title {
  margin: 0;
  padding: 23px;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: normal;
  color: @c-sky-blue;
  letter-spacing: 4px;
}

.delivery__subtitle {
  padding: 15px 15px 22px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4px;
}

.delivery__client-contacts {
  padding: 0 30px;
}

.delivery__client {
  display: block;
  width: 100%;
  min-height: 70px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin-bottom: 25px;
  font-size: 30px;
  text-transform: uppercase;
}

// блок с ценой и кнопкой
.delivery__order {
  .clearfix;
  padding: 0 15px 17px;
}

.delivery__prace {
  max-width: 265px;
  float: left;
  text-align: left;
}
.delivery__btn-block {
  width: 320px;
  text-align: right;
  float: right;
}

.delivery__price-title {
  font-size: 30px;
  text-transform: uppercase;
}

.delivery__price-value {
  font-size: 65px;
  padding-top: 13px;
  letter-spacing: 4px;
  color: @c-sky-blue;
}

.delivery__price-free {
  font-size: 14px;
  color: #fa645a;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

.delivery__btn-order {
  width: 311px;
  height: 134px;
  border: none;
  padding-top: 8px;
  background-color: @c-button-order;
  border-bottom: 8px solid @c-button-border;
  border-radius: 12px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: @c-sky-blue;
}

// seo
.delivery__title--seo {
  display: none;
}

.seo .delivery__title--seo {
  display: block;
}

.delivery__btn-order--main {
  display: block;
}

.seo .delivery__btn-order--main {
  display: none;
}

.delivery__btn-order--seo {
  display: none;
}

.seo .delivery__btn-order--seo {
  display: block;
}
