
.delivery {
  border-top: 1px solid #ffffff;
  background-color: @c-light-blue;
  text-align: center;
}

.delivery__title {
  margin: 0;
  padding: 23px;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: normal;
  color: @c-sky-blue;
  letter-spacing: 4px;
}

.delivery__subtitle {
  padding: 12px 15px 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
}

.delivery__client-contacts {
  padding: 0 30px;
  text-align: center;
  font-size: 0;
}

.delivery__client {
  display: inline-block;
  width: 324px;
  min-height: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: 0 2px 25px;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

// блок с ценой и кнопкой
.delivery__order {
  text-align: center;
  padding: 0 15px 17px;
  font-size: 0;
}

.delivery__prace {
  display: inline-block;
  width: 415px;

}
.delivery__btn-block {
  display: inline-block;
  width: 240px;

}

.delivery__price-title {
  font-size: 30px;
  text-transform: uppercase;
}

.delivery__price-value {
  font-size: 65px;
  padding-top: 13px;
  letter-spacing: 4px;
  color: @c-sky-blue;
}

.delivery__price-free {
  font-size: 14px;
  color: #fa645a;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

.delivery__btn-order {
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 8px;
  background-color: @c-button-order;
  border-bottom: 8px solid @c-button-border;
  border-radius: 12px;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: @c-sky-blue;
}

