.header {
  overflow: hidden;
  position: relative;
}

.header__title-wraper {
  padding: 10px 10px 0;
  position: relative;
}

.header__title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #114693;
}
