@media screen and (min-width: @screen-lg1300) {
  .left-on-wide-screen{
    padding-right: 15vw;
  }  
}

@media screen and (min-width: @container-desktop-min) {
  .generate-columns(16);
  .container{
    min-width: @container-desktop-min;
    max-width: @container-desktop-max;
  }
  .phone-only{
    display: none;
  } 

  @import url(header.less);
}

@media screen and (max-width: @phone-desktop-checkout) {
  .generate-columns(12);
  .container{
    min-width: @container-phone-min;
    max-width: @container-phone-max;
  }
  .desktop-only{
    display: none;
  }  

  @import url(header_mobile.less);

}

// @media (max-width: @phone-max) {
//   .desktop-only{
//     display: none;
//   }  
// }

// @media (min-width: @laptop-min) {
//   .mobile-only{
//     display: none;
//   }  
// }