// закомментировать если не юзать бутстрап
@screen-lg:       1200px;
@screen-lg1300:   1300px;
@screen-xl:       1600px;
@screen-xxl:      1920px;

// основные размеры
@container-phone-min: 320px;
@container-phone-max: 640px;
@container-desktop-min: 960px;
@container-desktop-max: 1366px;


// точка переключения
@phone-desktop-checkout: 959px;

// закомментировать если не юзать бутстрап
@indent-col: 12px;      // растояние между колонками сетки.
                        // Левый и правый паддинги каждой колонки и отрицательные левый
                        // и правый маргин для row высчитываются автоматически

// цвета
@c-light-grey: #fafafa;
@c-light-grey-blue: #cfd8dc;

@c-light-blue: #d1eaff;
@c-sky-blue: #304ffe;
@c-dark-blue: #051945;
@c-very-dark-blue: #001f34

@c-gallery-number: #ffff00;
@c-gallery-border: #ffeb3b;
@c-button-order: #ffea00;
@c-button-border: #fbc02d;
@c-angle: #ffeb3b;

@c-green: #69f0ae;

@disabled: #d8dfe2;
